:root {
  --primary: #5A4E7B;
  --grey-bg: #F8F8F8;
}

* {
  font-family: "Montserrat Alternates", sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  overflow-x: hidden;
}


/* NAVBAR */
.navbar {
  min-height: 100px;
  width: 100vw;
  background-image: url('/src/assets/navbg.png');
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  background-color: var(--primary);
}

.menu-list {
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.menu-item {
  text-decoration: none;
  color: white;
  padding: 4px 20px;
  margin: 0;
}

.menu-item:hover {
  color: white;
  background-color: rgb(99, 98, 143);
  border-radius: 4px;
  transition: all 0.25s ease-in-out;
}


/* TOP */
.top-block {
  min-height: 78vh;
}

.custom-caption {
  width: 40%;
}

.prime-btn {
  color: white;
  background-color: var(--primary);
  padding: 4px 20px;
  border: none;
  border-radius: 4px;
}

.secondary-btn {
  color: black;
  background-color: transparent;
  padding: 4px 20px;
  border: 1px solid black;
  border-radius: 4px;
}

/* .carousel-control-prev,
.carousel-control-next {
  background-color: var(--primary) !important;
  width: 8vw;
} */


/* ABOUT */
#about {
  min-height: 100vh;
  padding-top: 10vh;
  margin-top: 5vh;
  background-color: #F8F8F8;
  padding-bottom: 100px;
}

.prime-text {
  color: var(--primary);
  font-weight: bold;
}

.why-us {
  display: flex;
  gap: 20px;
  align-items: start;
}

#service {
  padding-top: 64px;
}

.prime-bg {
  background-color: var(--primary);
  padding-top: 32px;
  padding-bottom: 32px;
  color: white;
}


/* PRICE */
#price {
  min-height: 100vh;
  padding: 48px;
}

.buttons-row {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.price-list {
  padding-top: 40px;
  padding-bottom: 40px;
}

.price-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-dash {
  height: 1px;
  width: 100%;
  border: 1px solid black;
}

/* CONTACT */
#contact {
  min-height: 60vh;
  padding: 40px 0 0;
  overflow: hidden;
}

.leaflet-container {
  width: 100vw !important;
  height: 60vh !important;
}

.leaflet-control-attribution {
  display: none;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.prime-link {
  text-decoration: none;
  color: white;
}

.prime-link:hover {
  color: white;
}

@media screen and (max-width: 1048px) {
  .why-us {
    display: flex;
    flex-direction: column;
  }

  .why-us img {
    width: 100%;
  }

  .carousel-item {
    height: 100vh;
  }

  .carousel-item img {
    height: 100vh;
    object-fit: cover;
    object-position: right;
  }

  .custom-caption {
    width: 100% !important;
    color: white !important;
  }

  .menu-list {
    font-size: 10px;
    width: 100vw;
    justify-content: center;
  }

  .buttons-row {
    display: flex;
    font-display: column;
    gap: 20px;
  }

  .price-line {
    font-size: 12px;
    margin-bottom: 12px;
  }

  .price-dash {
    display: none;
  }

  .price-line p:first-child {
    width: auto !important;
  }

  .price-line p:last-child {
    width: 100% !important;
  }

  #service .carousel-caption {
    top: 30% !important;
    height: 30vh !important;
  }

  #service .carousel-caption img {
    object-fit: cover;
  }
}